<template id="nav">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Strapi Uploads</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/create">Create</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/update">Update</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/upload">Upload</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Resources
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li>
                <a
                  class="dropdown-item"
                  target="_blank"
                  href="https://docs.strapi.io/developer-docs/latest/developer-resources/database-apis-reference/rest-api.html"
                  >API Reference</a
                >
              </li>
              <li>
                <a
                  class="dropdown-item"
                  target="_blank"
                  href="https://docs.strapi.io/developer-docs/latest/plugins/upload.html#upload-file-during-entry-creation"
                  >Upload during creation</a
                >
              </li>
              <li>
                <a
                  class="dropdown-item"
                  target="_blank"
                  href="https://docs.strapi.io/developer-docs/latest/plugins/upload.html#upload-files-related-to-an-entry"
                  >Update Entry Media</a
                >
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</template>

<template id="item">
  <div class="col-12 col-sm-6 col-md-4 col-lg-3">
    <div class="card">
      <div class="card-header"></div>
      <div class="card-body">
        <img src="" alt="" class="img-fluid" />
      </div>
    </div>
  </div>
</template>
